<!DOCTYPE html>
<!--
Author: Samuel Lippett
Project: COMP3006 Coursework
-->
<html>
      <title>COMP3000</title>
      <meta name='apple-mobile-web-app-capable' content="yes">
      <meta name="mobile-web-app-capable" content='yes'>
      <link rel="icon" href="/img/maskable-icon.svg" >
      <link rel="manifest" href="manifest.webmanifest.json">
      <link rel="stylesheet" href="/css/app.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="appmain.js"></script>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
   <video id="hiddenvideo" autoplay></video>
  <svg class="notify-modal" id="offline-modal" viewBox="0 0 314 114" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect y="4" width="314" height="110" rx="21" fill="#F4F4F4" />
    <path d="M100.885 47.873C78.8639 25.8517 44.1 24.9122 23.2378 45.7744" stroke="black" stroke-width="11" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M90.6809 60.6199C74.3223 44.2613 48.4976 43.5633 33 59.061" stroke="black" stroke-width="11" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M78.2774 73.0884C68.8398 63.6507 53.941 63.2481 45 72.189" stroke="black" stroke-width="11" stroke-linecap="round" stroke-linejoin="round" />
    <ellipse cx="60.7647" cy="88.7647" rx="5.34211" ry="5.63889" transform="rotate(-45 60.7647 88.7647)" fill="black" stroke="black" stroke-width="3" />
    <path d="M20 17L98.5 88.5" stroke="#EB5757" stroke-width="11" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M168.668 57.7832C168.668 60.3027 168.223 62.5117 167.332 64.4102C166.441 66.3086 165.164 67.7734 163.5 68.8047C161.848 69.8359 159.949 70.3516 157.805 70.3516C155.684 70.3516 153.791 69.8418 152.127 68.8223C150.463 67.8027 149.174 66.3496 148.26 64.4629C147.346 62.5645 146.883 60.3848 146.871 57.9238V56.6582C146.871 54.1387 147.322 51.9238 148.225 50.0137C149.139 48.0918 150.422 46.6211 152.074 45.6016C153.738 44.5703 155.637 44.0547 157.769 44.0547C159.902 44.0547 161.795 44.5703 163.447 45.6016C165.111 46.6211 166.394 48.0918 167.297 50.0137C168.211 51.9238 168.668 54.1328 168.668 56.6406V57.7832ZM163.324 56.623C163.324 53.9395 162.844 51.9004 161.883 50.5059C160.922 49.1113 159.551 48.4141 157.769 48.4141C156 48.4141 154.635 49.1055 153.674 50.4883C152.713 51.8594 152.226 53.875 152.215 56.5352V57.7832C152.215 60.3965 152.695 62.4238 153.656 63.8652C154.617 65.3066 156 66.0273 157.805 66.0273C159.574 66.0273 160.934 65.3359 161.883 63.9531C162.832 62.5586 163.312 60.5312 163.324 57.8711V56.623ZM177.695 70V54.707H174.865V50.9805H177.695V49.3633C177.695 47.2305 178.304 45.5781 179.523 44.4062C180.753 43.2227 182.47 42.6309 184.673 42.6309C185.376 42.6309 186.238 42.748 187.257 42.9824L187.204 46.9199C186.783 46.8145 186.267 46.7617 185.658 46.7617C183.747 46.7617 182.792 47.6582 182.792 49.4512V50.9805H186.572V54.707H182.792V70H177.695ZM194.737 70V54.707H191.907V50.9805H194.737V49.3633C194.737 47.2305 195.346 45.5781 196.565 44.4062C197.796 43.2227 199.512 42.6309 201.715 42.6309C202.419 42.6309 203.28 42.748 204.299 42.9824L204.247 46.9199C203.825 46.8145 203.309 46.7617 202.7 46.7617C200.79 46.7617 199.835 47.6582 199.835 49.4512V50.9805H203.614V54.707H199.835V70H194.737ZM215.752 70H210.654V43H215.752V70ZM229.454 70H224.357V50.9805H229.454V70ZM224.058 46.0586C224.058 45.2969 224.31 44.6699 224.814 44.1777C225.329 43.6855 226.027 43.4395 226.906 43.4395C227.773 43.4395 228.464 43.6855 228.98 44.1777C229.495 44.6699 229.753 45.2969 229.753 46.0586C229.753 46.832 229.49 47.4648 228.962 47.957C228.447 48.4492 227.761 48.6953 226.906 48.6953C226.05 48.6953 225.359 48.4492 224.831 47.957C224.316 47.4648 224.058 46.832 224.058 46.0586ZM242.471 50.9805L242.63 53.1777C243.989 51.4785 245.811 50.6289 248.096 50.6289C250.112 50.6289 251.612 51.2207 252.596 52.4043C253.581 53.5879 254.085 55.3574 254.108 57.7129V70H249.028V57.8359C249.028 56.7578 248.794 55.9785 248.325 55.498C247.856 55.0059 247.077 54.7598 245.987 54.7598C244.557 54.7598 243.485 55.3691 242.77 56.5879V70H237.69V50.9805H242.471ZM270.869 70.3516C268.08 70.3516 265.807 69.4961 264.049 67.7852C262.303 66.0742 261.43 63.7949 261.43 60.9473V60.4551C261.43 58.5449 261.799 56.8398 262.537 55.3398C263.275 53.8281 264.318 52.668 265.666 51.8594C267.025 51.0391 268.572 50.6289 270.307 50.6289C272.908 50.6289 274.953 51.4492 276.441 53.0898C277.941 54.7305 278.691 57.0566 278.691 60.0684V62.1426H266.58C266.744 63.3848 267.236 64.3809 268.057 65.1309C268.889 65.8809 269.938 66.2559 271.203 66.2559C273.16 66.2559 274.69 65.5469 275.791 64.1289L278.287 66.9238C277.525 68.002 276.494 68.8457 275.193 69.4551C273.893 70.0527 272.451 70.3516 270.869 70.3516ZM270.289 54.7422C269.281 54.7422 268.461 55.082 267.828 55.7617C267.207 56.4414 266.809 57.4141 266.633 58.6797H273.699V58.2754C273.676 57.1504 273.371 56.2832 272.785 55.6738C272.199 55.0527 271.367 54.7422 270.289 54.7422Z" fill="black" />
  </svg>
  <svg class="notify-modal" id="online-modal" viewBox="0 0 314 114" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect y="4" width="314" height="110" rx="21" fill="#F4F4F4" />
    <path d="M100.885 47.873C78.8639 25.8518 44.1 24.9122 23.2378 45.7744" stroke="black" stroke-width="11" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M90.6809 60.6199C74.3223 44.2613 48.4976 43.5633 33 59.061" stroke="black" stroke-width="11" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M78.2774 73.0884C68.8398 63.6507 53.941 63.2481 45 72.189" stroke="black" stroke-width="11" stroke-linecap="round" stroke-linejoin="round" />
    <ellipse cx="60.7647" cy="88.7647" rx="5.34211" ry="5.63889" transform="rotate(-45 60.7647 88.7647)" fill="black" stroke="black" stroke-width="3" />
    <path d="M173.55 57.7832C173.55 60.3027 173.105 62.5117 172.214 64.4102C171.324 66.3086 170.046 67.7734 168.382 68.8047C166.73 69.8359 164.832 70.3516 162.687 70.3516C160.566 70.3516 158.673 69.8418 157.009 68.8223C155.345 67.8027 154.056 66.3496 153.142 64.4629C152.228 62.5645 151.765 60.3848 151.754 57.9238V56.6582C151.754 54.1387 152.205 51.9238 153.107 50.0137C154.021 48.0918 155.304 46.6211 156.957 45.6016C158.621 44.5703 160.519 44.0547 162.652 44.0547C164.785 44.0547 166.677 44.5703 168.33 45.6016C169.994 46.6211 171.277 48.0918 172.179 50.0137C173.093 51.9238 173.55 54.1328 173.55 56.6406V57.7832ZM168.207 56.623C168.207 53.9395 167.726 51.9004 166.765 50.5059C165.804 49.1113 164.433 48.4141 162.652 48.4141C160.882 48.4141 159.517 49.1055 158.556 50.4883C157.595 51.8594 157.109 53.875 157.097 56.5352V57.7832C157.097 60.3965 157.578 62.4238 158.539 63.8652C159.5 65.3066 160.882 66.0273 162.687 66.0273C164.457 66.0273 165.816 65.3359 166.765 63.9531C167.714 62.5586 168.195 60.5312 168.207 57.8711V56.623ZM185.864 50.9805L186.022 53.1777C187.382 51.4785 189.204 50.6289 191.489 50.6289C193.505 50.6289 195.005 51.2207 195.989 52.4043C196.974 53.5879 197.478 55.3574 197.501 57.7129V70H192.421V57.8359C192.421 56.7578 192.186 55.9785 191.718 55.498C191.249 55.0059 190.47 54.7598 189.38 54.7598C187.95 54.7598 186.878 55.3691 186.163 56.5879V70H181.083V50.9805H185.864ZM210.869 70H205.772V43H210.869V70ZM224.572 70H219.474V50.9805H224.572V70ZM219.175 46.0586C219.175 45.2969 219.427 44.6699 219.931 44.1777C220.447 43.6855 221.144 43.4395 222.023 43.4395C222.89 43.4395 223.582 43.6855 224.097 44.1777C224.613 44.6699 224.871 45.2969 224.871 46.0586C224.871 46.832 224.607 47.4648 224.08 47.957C223.564 48.4492 222.879 48.6953 222.023 48.6953C221.168 48.6953 220.476 48.4492 219.949 47.957C219.433 47.4648 219.175 46.832 219.175 46.0586ZM237.589 50.9805L237.747 53.1777C239.106 51.4785 240.929 50.6289 243.214 50.6289C245.23 50.6289 246.73 51.2207 247.714 52.4043C248.698 53.5879 249.202 55.3574 249.226 57.7129V70H244.146V57.8359C244.146 56.7578 243.911 55.9785 243.442 55.498C242.974 55.0059 242.194 54.7598 241.105 54.7598C239.675 54.7598 238.603 55.3691 237.888 56.5879V70H232.808V50.9805H237.589ZM265.987 70.3516C263.198 70.3516 260.924 69.4961 259.166 67.7852C257.42 66.0742 256.547 63.7949 256.547 60.9473V60.4551C256.547 58.5449 256.916 56.8398 257.655 55.3398C258.393 53.8281 259.436 52.668 260.784 51.8594C262.143 51.0391 263.69 50.6289 265.424 50.6289C268.026 50.6289 270.071 51.4492 271.559 53.0898C273.059 54.7305 273.809 57.0566 273.809 60.0684V62.1426H261.698C261.862 63.3848 262.354 64.3809 263.174 65.1309C264.006 65.8809 265.055 66.2559 266.321 66.2559C268.278 66.2559 269.807 65.5469 270.909 64.1289L273.405 66.9238C272.643 68.002 271.612 68.8457 270.311 69.4551C269.01 70.0527 267.569 70.3516 265.987 70.3516ZM265.407 54.7422C264.399 54.7422 263.579 55.082 262.946 55.7617C262.325 56.4414 261.926 57.4141 261.75 58.6797H268.817V58.2754C268.793 57.1504 268.489 56.2832 267.903 55.6738C267.317 55.0527 266.485 54.7422 265.407 54.7422Z" fill="black" />
    <path d="M82 88.3456L92.9622 104.745L121 70" stroke="#6FCF97" stroke-width="11" stroke-linecap="round" stroke-linejoin="round" />
  </svg>


  <div class="main">

    <div class="flex-row">

    </div>
    <div class="flex-row">

    </div>
    <div id="toolbar">
      <div id="toolbar-body">
        <svg class="toolbar-contents" id="pause-button" viewBox="0 0 58 81" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="4" y="4" width="16" height="73" rx="7" stroke="black" stroke-width="8" />
          <rect x="38" y="4" width="16" height="73" rx="7" stroke="black" stroke-width="8" />
        </svg>
        <svg class="toolbar-contents" viewBox="0 0 58 91" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 79.8204V13.2095C4 10.8022 6.69257 9.37537 8.68449 10.727L52.1569 40.2262C53.7955 41.3381 53.9263 43.7045 52.4202 44.9902L8.94782 82.102C7.00062 83.7643 4 82.3806 4 79.8204Z" stroke="black" stroke-width="8" />
        </svg>

         <svg id="toolbar-pen" class="toolbar-contents toolbar-pen-active" viewBox="0 0 58 81" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.4134 64.4392L39.2799 14.802L43.8896 7.62175C48.4992 0.441504 57.1309 5.10127 52.1204 12.9059L47.5108 20.0861L15.6443 69.7234C15.6443 69.7234 6.06515 77.6809 4.79886 76.868C3.53257 76.055 7.4134 64.4392 7.4134 64.4392Z" stroke="black" stroke-width="8" />
        </svg>
        


        <svg id="toolbar-mover" class="toolbar-contents" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.026 12.382c-.518-.487-.57-1.308-.118-1.856.435-.527 1.191-.62 1.74-.216l1.347.996 1 .739V4c0-.552.448-1 1-1 .553 0 1 .448 1 1v5h1V2c0-.552.448-1 1-1 .553 0 1 .448 1 1v7h1V3c0-.552.448-1 1-1 .553 0 1 .448 1 1v6h1V6c0-.552.448-1 1-1 .553 0 1 .448 1 1v8c0 2.762-2.238 5-5 5h-1c-1.553 0-2.94-.708-3.858-1.82-.036-.028-.071-.06-.106-.092l-5.005-4.706zm4.4 5.507l-.08-.072-5.005-4.706c-.902-.848-.993-2.267-.204-3.221.772-.936 2.127-1.106 3.105-.384l.753.557V4c0-1.104.896-2 2-2 .365 0 .706.097 1 .268V2c0-1.105.896-2 2-2 .873 0 1.615.559 1.888 1.338.318-.214.7-.338 1.112-.338 1.105 0 2 .895 2 2v1.268c.295-.17.636-.268 1-.268 1.105 0 2 .896 2 2v8c0 3.314-2.686 6-6 6h-1c-1.83 0-3.47-.821-4.57-2.111z" stroke="black"></path>
        </svg>

      </div>
    </div>

  </div>
</body>

</html>

