<!DOCTYPE html>
<!--
Author: Samuel Lippett
Project: COMP3000 Coursework
-->
<html>
   <head>
      <title>COMP3000</title>
      <meta name='apple-mobile-web-app-capable' content="yes">
      <meta name="mobile-web-app-capable" content='yes'>
      <link rel="icon" type="image/svg_xml" href="/img/comp-pencil-icon.svg" >
      <link rel="manifest" href="manifest.webmanifest">
      <script src="home.js"></script>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <h1>Welcome to my App.</h1>
   </body>
</html>

